@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://learn.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <form method="post" action="/Home/AddUserData">
    <input type="hidden" name="username" value="@User.Identity.Name" />
    <input type="hidden" name="email" value="@User.Claims.FirstOrDefault(c => c.Type == "emails")?.Value" />
    <button type="submit" class="btn btn-primary">Enregistrer mes informations</button>
</form>

</div>
